<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories=['classify.packagelist']}"/>
</sly>		
		<aside id="holi-packages-details" class="holiday-flex">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="flexslider">
							<ul class="slides cust-mainSlider">
							<li>
								<img src="/content/dam/classify/holidaypackages/Bali/bali.jpg" />
								<div class="slider-text-inner text-center">
									<p class="flex-caption">Adventurer Cheesecake Brownie</p>
								</div>									
							</li>
							
							<li>
								<img src="/content/dam/classify/holidaypackages/Bali/GettyImages-179671877.jpg" />
								<div class="slider-text-inner text-center">
									<p class="flex-caption">Adventurer Lemon</p>
								</div>
							</li>
							<li>
								<img src="/content/dam/classify/holidaypackages/Barcelona/Barcelona2.jpg" />
								<div class="slider-text-inner text-center">
									<p class="flex-caption">Adventurer Donut</p>
								</div>
							</li>
							<li>
								<img src="/content/dam/classify/holidaypackages/Bali/bali-water-temples-tour.jpg" />
								<p class="flex-caption">Adventurer Caramel</p>
							</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</aside>
		<!--aside class="colorlib-wrap">
		 <div class="budget">budget</div></br>
		 <div class="economy">Ecomony</div></br>
		 <div class="luxury">luxury</div></br>
		</aside-->
		<aside class="colorlib-wrap holiPackdetails">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>Package Details</h3>
					</div>
					<div class="col-md-8 holiPack_tabs">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#holiItinerary">Itinerary</a></li>
							<li><a data-toggle="tab" href="#holibrief">Highlight</a></li>
							<li><a data-toggle="tab" href="#holihotels">Hotels</a></li>
							<li><a data-toggle="tab" href="#holifaqs">FAQs</a></li>
							<li><a data-toggle="tab" href="#holicomplime">Complimentary</a></li>
						</ul>

						<div class="tab-content">
							<div id="holiItinerary" class="package-days tab-pane fade in active">
								<div class="days-info">
									<h5><a href="#"><span class="bullet">1</span>Place for day1 <i class="fa fa-chevron-down pull-right"></i><i class="fa fa-chevron-up pull-right"></i></a></h5>
									<div class="day-con">
										<p>Place for day1Place for day1Place for day1Place for day1Place for day1</p>
									</div>
								</div>
								
							</div>
							<div id="holibrief" class="tab-pane fade">
								<h4>Fare breakup</h4>
								<p>Total - $4475.</p>
							</div>
							<div id="holihotels" class="tab-pane fade">
								<h4>*Hotels available or Similar</h4>
								<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>Place</th>
											<th>Hotel</th>
											<th>Nights</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>AMRITSAR</td>
											<td>UNA AMRITSAR or Similar</td>
											<td>2</td>
										</tr>
										<tr>
											<td>DALHOUSIE</td>
											<td>INDRAPRASTHA RESORT or Similar</td>
											<td>2</td>
										</tr>
										<tr>
											<td>DHARMSHALA</td>
											<td>ANGELS INN RESORT or Similar</td>
											<td>2</td>
										</tr>
										<tr>
											<td>CHANDIGARH</td>
											<td>CLARION INN SEVILLA or Similar</td>
											<td>2</td>
										</tr>
									</tbody>
								</table>
								</div>
							</div>
							<div id="holifaqs" class="tab-pane fade">
								<h4>FAQS</h4>
								<div class="accordion_container">
									<div class="accordion_head">General Questions<span class="plusminus pull-left">+</span></div>
									<div class="accordion_body" style="display: none;">
										<p>What is generally the size of a tour group ?</p>
										<p class="faq-ans">The average group size for World tour is between 40 to 47 and Indian tour is between 28 to 56. However.</p>
									</div>
									<div class="accordion_head">Tour Price Discounts<span class="plusminus pull-left">+</span></div>
									<div class="accordion_body" style="display: none;">
										<p>What is generally the size of a tour group ?</p>
										<p class="faq-ans">The average group size for World tour is between 40 to 47 and Indian tour is between 28 to 56. However.</p>
									</div>
								</div>
							</div>
							<div id="holicomplime" class="tab-pane fade">
								<h4>Baggage</h4>
								<p>Adult - 8 Kgs</p>
							</div>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</aside>