<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories=['classify.packagelist']}"/>
</sly>		
		<div id="holi-packages-details">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-12 heading-con">
					<h3 class="main-heading">Best Holiday Package offers</h3>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-md-12 holiday-packgs">
						<div class="col-md-3 holi-packg-item">
							<div class="holi-packg-entry">
								<div class="holi-pack-img">
									<a href="holiday_package_details.html" class="hover-effect">
										<img src="/apps/classify/components/clientlibs/clientlib-base/images/tour-1.jpg" width="" alt="Cochin Holiday Package " height="" class="img-responsive" />
									</a>
								</div>
								<div class="holi-packg-desc">
									<h5>Hotel Edison <span class="pull-right price"><i class="icon-dollar-sign"></i>3121</span></h5>
									<span class="place">Cochin, INDIA</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>