<sly
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.all @ categories='classify.logout'}" />
<nav class="colorlib-nav" role="navigation">
	<div class="top-menu">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2">
					<div id="colorlib-logo">
						<a href="#">Mind Travel</a>
					</div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="active"><a href="#">Home</a></li>
						<li><a href="packagelist.html">Holiday Package</a></li>
						<!--<li class="has-dropdown">
									<a href="#">Tours</a>
									<ul class="dropdown">
										<li><a href="#">Destination</a></li>
										<li><a href="#">Cruises</a></li>
										<li><a href="#">Hotels</a></li>
										<li><a href="#">Booking</a></li>
									</ul>
								</li>
								<li><a href="#">Hotels</a></li>
								<li><a href="#l">Services</a></li>
								<li><a href="#">Blog</a></li>-->
						<li><a href="aboutus.html">About</a></li>
						<li><a href="contactus.html">Contact</a></li>
						<li><sly
								data-sly-use.sessionModel="com.aem.core.models.SessionModel">
							<sly data-sly-test="${sessionModel.mySessionAttribute}">
							<li class="has-dropdown logo"><a>
									${sessionModel.mySessionAttributeFname}
									${sessionModel.mySessionAttributeLname}</a><i
								class="icon icon-user"></i>

								<ul class="dropdown">

									<li><a href="mybookings.html">My Bookings</a></li>
									<li><a href="#" onclick="logoutfunction()">Logout</a></li>

								</ul></li>

							</sly> <sly data-sly-test="${!sessionModel.mySessionAttribute}">
							<li><a href="Login.html">Login</a></li>
							<li><a href="signup.html">Sign Up</a></li>
							</sly> </sly></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
<aside id="colorlib-hero">
	<div class="flexslider">
		<ul class="slides">
			<li
				style="background-image: url(/apps/classify/components/clientlibs/clientlib-base/images/img_bg_1.jpg);">
				<div class="overlay"></div>
				<div class="container-fluid">
					<div class="row">
						<div
							class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
							<div class="slider-text-inner text-center">
								<h2>2 Days Tour</h2>
								<h1>Amazing Maldives Tour</h1>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li
				style="background-image: url(/apps/classify/components/clientlibs/clientlib-base/images/img_bg_2.jpg);">
				<div class="overlay"></div>
				<div class="container-fluid">
					<div class="row">
						<div
							class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
							<div class="slider-text-inner text-center">
								<h2>10 Days Cruises</h2>
								<h1>From Greece to Spain</h1>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li
				style="background-image: url(/apps/classify/components/clientlibs/clientlib-base/images/img_bg_5.jpg);">
				<div class="overlay"></div>
				<div class="container-fluids">
					<div class="row">
						<div
							class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
							<div class="slider-text-inner text-center">
								<h2>Explore our most tavel agency</h2>
								<h1>Our Travel Agency</h1>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li
				style="background-image: url(/apps/classify/components/clientlibs/clientlib-base/images/img_bg_4.jpg);">
				<div class="overlay"></div>
				<div class="container-fluid">
					<div class="row">
						<div
							class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
							<div class="slider-text-inner text-center">
								<h2>Experience the</h2>
								<h1>Best Trip Ever</h1>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</aside>