<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='classify.loginsession'}"/>
<div data-sly-use.sessionModel="com.aem.core.models.SessionModel">
    ${sessionModel.mySessionAttribute}
<div data-sly-test="${!sessionModel.mySessionAttribute}">
 <script type="text/javascript">
           window.location.href = "Login.html?src=mybookings.html";
  </script>
</div>
</div>
