<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories=['classify.search']}"/>
</sly>
<sly data-sly-use.flights="com.aem.core.models.FlightLists">
    <div class="col-md-9">
        <div class="row">

            <div class="col-md-12">
                <div class="wrap-division">
                   <div class="col-md-12 col-md-offset-0 heading2 animate-box">
                        <h2 align="center">Flight Search Result</h2>
                    </div>

                    <div class="alert alert-danger" data-sly-test="${!flights.Flights}"><h3>Oops! We are unable to look   up result for your route entry!</h3>
                    </div>
                    <sly data-sly-list.flightlist="${flights.Flights}">
                        <div class="row">
                            <div class="col-md-12 animate-box flight-li-item animate-box">
                                <div class="flight-info">
                                    <div class="col-md-12 overview-con">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="logo">
                                            <li><i class="icon icon-airplane"></i></li>
                                            <li><b>Flight Name</b>:<p  id='p1${flightlist.flightid}'>${flightlist.flightname}</p>
    <b>Flight ID</b>: <p  id='p2${flightlist.flightid}'>${flightlist.flightid}</p></li>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                            <h5 id='h1${flightlist.flightid}'>${flightlist.departuretime}</h5>
                                            <span id='s1${flightlist.flightid}'>${flightlist.from}</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                            <h5 id='h2${flightlist.flightid}'>${flightlist.arrivaltime}</h5>
                                            <span id='s2${flightlist.flightid}'>${flightlist.to}</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                            <h5 id='h3${flightlist.flightid}'>${flightlist.traveltime}</h5>
                                            <span id='s3${flightlist.flightid}'>${flightlist.flighttype}</span>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                            <h5 id='h4${flightlist.flightid}'>Rs.${flightlist.price}</h5>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
    <br>

    <input type="radio" name="fromlist" class="icon radio-checked2" onclick="gotosearch('${flightlist.flightid @ context='scriptToken'}');" value="fromlist"><label for="select"> Select</label><br>

                                        </div>
                                    </div>
                                </div>

                                  <div class="row">
                                <div class="detail-info toggle_parent">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 more-head toggleHolder">
                                        <a class="toggler more pull-right">Flight details<i class="icon icon-arrow-down3"></i></a>
                                        <a class="toggler more pull-right" style="display:none;">Flight details<i class="icon icon-arrow-up3"></i></a>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 more-con toggled_content">
                                        <div class=" flight-more-info">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#Flightinfo_${flightlist.flightid}">Flight details</a></li>
                                                <li><a data-toggle="tab" href="#fareinfo_${flightlist.flightid}">Fare details</a></li>
                                                <li><a data-toggle="tab" href="#baginfo_${flightlist.flightid}">Baggage details</a></li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="Flightinfo_${flightlist.flightid}" class="tab-pane fade in active">
                                                    <h4>Partially Refundable</h4>
                                                    <p>Economy</p>
                                                </div>
                                                <div id="fareinfo_${flightlist.flightid}" class="tab-pane fade">
                                                    <h4>Fare breakup</h4>
                                                    <p>Total -Rs.${flightlist.price}</p>
                                                </div>
                                                <div id="baginfo_${flightlist.flightid}" class="tab-pane fade">
                                                    <h4>Baggage</h4>
                                                    <p>Adult - 8 Kgs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                         </div>
                    </sly>
                    </div>
            </div>
        </div>
    </div>
</sly>
