<style>
   .numberCircle {
   border-radius: 50%;
   behavior: url(PIE.htc);
   /* remove if you don't care about IE8 */
   width: 45px;
   height: 45px;
   padding: 8px;
   background: #fff;
   border: 2px solid #666;
   color: #666;
   text-align: center;
   font: 20px Arial, sans-serif;
   }
</style>
<div class="col-md-1 col-md-offset-2">
   <div class="row">
      <div class="colorlib-wrap topspace">
         <div class="container">
            <div class="center">
               <div class="col-md-6 col-md-offset-2  animate-box colorlib-wrap topspace">
                  <div  class="numberCircle">OR</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
