<sly
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.js @ categories='classify.content'}" />
<div class="col-md-4">
	<div class="row">
		<div class="colorlib-wrap topspace">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-md-offset-2 heading2 animate-box">
						<div id="changererror" class="alert alert-danger"
							style="display: none;"></div>
						<form method="GET" action="" class="form-search">
							<div class="row form-group">
								<div id="contentpara" class="col-md-12">
									<p>${properties.contentdata}</p>	  
								</div>
								<div id="location" class="form-control" style="display: none;"></div>
							    <div id="package" class="form-control" style="display: none;"></div>
							    <div id="hotels" class="form-control" style="display: none;"></div>
							    <div id="offer" class="form-control" style="display: none;"></div>
							    <div id="activities" class="form-control" style="display: none;"></div>		
							</div>
							<div class="row form-group">
								<div class="col-md-6 padding-bottom">
							      <input type="button" value="Fetch & Tag" name="submit" onclick="dialogSubmitfunction()" id="submit" class="btn btn-primary">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>