<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='classify.register'}"/>
<div class="container">
<div class="colorlib-wrap topspace">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-md-offset-3 heading2 animate-box">
            <h2>Sign up</h2>
            <div class="form-group text-center">
               <div id="changer" class="alert alert-danger" style="display: none;"></div>
            </div>
            <form  class="form-signin">
               <div class="row form-group">
                  <div class="col-md-6 padding-bottom">
                     <label for="fname">First Name</label>
                     <input id="FirstName" name="First Name" type="text" value="" class="form-control" placeholder="Your firstname" required>
                  </div>
                  <div class="col-md-6">
                     <label for="lname">Last Name</label>
                     <input id="LastName" name="Last Name" type="text" value=""  class="form-control" placeholder="Your lastname" required>
                  </div>
               </div>
               <div class="row form-group">
                  <div class="col-md-12">
                     <label for="email">Email</label> 
                     <input id="Email" name="Emailid"  type="text" class="form-control" placeholder="Your email address" onblur="validateEmail(this);" required >
                  </div>
               </div>
               <div class="row form-group">
                  <div class="col-md-12">
                     <label for="subject">Mobile Number</label>
                     <input type="text" id="signUpmobileno" class="form-control" placeholder="123-123-1234" onblur="validatePhone(this);" required>
                  </div>
               </div>
               <div class="row form-group">
                  <div class="col-md-12">
                     <label for="message">Password</label>
                     <input id="Password" name="Passwordid"  type="password" class="form-control" placeholder="Your Password" required>
                  </div>
               </div>
               <div class="row form-group">
                  <div class="col-md-12">
                     <label for="message">Confirm Password</label>
                     <input type="password" id="signUpConfirmpswd" class="form-control" placeholder="Your Password" required>
                  </div>
               </div>
               <div class="row form-group">
                  <div class="col-md-6 padding-bottom">

                      <input type="button" value="SIGN UP" name="submit" id="submit" class="btn btn-primary">
                  </div>
                   <div class="col-md-6">
                       <label for="fname">Already registered user?</label>
                       <a id="mya-home-register-btn" href="Login.html" ></br>Login here</a>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>