<div class="col-md-9">
   <div class="row">
      <div class="col-md-12">
         <div class="wrap-division">
            <div class="col-md-12 col-md-offset-0 heading2">
               <h2>Ticket Reservation</h2>
            </div>
            <div class="">
               <div class="col-md-12 flight-li-item details-info">
                  <div class="row">
                     <div class="flight-info">
                        <div class="col-md-12 overview-con">
                           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                              <div class="logo">
                                 <li><i class="icon icon-airplane"></i></li>
                                 <li>
                                    <p>${request.requestParameterMap['Fname'][0].toString @ context='html'} <br>${request.requestParameterMap['Fid'][0].toString @ context='html'}</p>
                                 </li>
                              </div>
                           </div>
                           <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                              <h5>${request.requestParameterMap['Dtime'][0].toString}</h5>
                              <span>${request.requestParameterMap['Ffrom'][0].toString}</span>
                           </div>
                           <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                              <h5>${request.requestParameterMap['Atime'][0].toString}</h5>
                              <span>${request.requestParameterMap['Fto'][0].toString}</span>
                           </div>
                           <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                              <h5>${request.requestParameterMap['Ftravel'][0].toString}</h5>
                              <span>${request.requestParameterMap['Ftype'][0].toString}</span>
                           </div>
                           <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                              <h5>${request.requestParameterMap['Fprice'][0].toString}</h5>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12" >
                     <div class="row" >
                     </div>
                     </br>
                     <div  id="idofthedivtohide"  >

                         <sly data-sly-test="${request.requestParameterMap['rcheckbox'][0].toString @ context='html'}">


                        <div class="col-md-12 flight-li-item details-info">
                           <div class="row">
                              <div class="flight-info">
                                 <div class="col-md-12 overview-con">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                       <div class="logo">
                                          <li><i class="icon icon-airplane"></i></li>
                                          <li>
                                             <p>${request.requestParameterMap['rflightname'][0].toString @ context='html'} <br>${request.requestParameterMap['rflightid'][0].toString @ context='html'}</p>
                                          </li>
                                       </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                       <h5>${request.requestParameterMap['rdeparturetime'][0].toString}</h5>
                                       <span>${request.requestParameterMap['rfrom'][0].toString}</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                       <h5>${request.requestParameterMap['rarrivaltime'][0].toString}</h5>
                                       <span>${request.requestParameterMap['rto'][0].toString}</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                       <h5>${request.requestParameterMap['rtravel'][0].toString}</h5>
                                       <span>${request.requestParameterMap['rtype'][0].toString}</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                       <h5>${request.requestParameterMap['rprice'][0].toString}</h5>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="row">
                              </div>
                           </div>
                        </div>
                     </div>
                             </sly>
                     <div style="text-align:center;margin-top:40px;">
                        <span class="step">1</span>
                        <span class="step">2</span>
                        <span class="step">3</span>
                     </div>
                     <div id="error" class="alert alert-danger" style="display: none;"></div>
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab">
                        <div class="row form-group">
                           <h2>Contact Information</h2>
                           <!--<h4>Contact Information</h4>-->
                           <div class="col-md-6 padding-bottom">
                              <label for="fname">Email </label>
                              <input type="text" id="emailField" class="form-control" placeholder="Your email address" onblur="validateEmail(this);" autocomplete="off">
                           </div>
                           <div class="col-md-6 padding-bottom">
                              <label for="fname">Mobile</label>
                              <input type="tel" id="mobileno" class="form-control" placeholder="123-456-7890" onblur="validatePhone(this);" autocomplete="off">
                           </div>
                           <!-- <button class="btn btn-primary" type="button" >Login & Continue</button> -->
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab">
                        <form action="#">
                           <div class="row form-group">
                              <div class="col-md-12 padding-bottom">
                                 <h2>Personal Information</h2>
                              </div>
                              <div class="col-md-6 padding-bottom">
                                 <label for="fname">First Name</label>
                                 <input type="text" id="fname" class="form-control" placeholder="Your firstname" autocomplete="off">
                              </div>
                              <div class="col-md-6 padding-bottom">
                                 <label for="lname">Last Name</label>
                                 <input type="text" id="lname" class="form-control" placeholder="Your lastname" autocomplete="off">
                              </div>
                              <div class="clearfix"></div>
                              <br/>
                              <div class="col-md-6 padding-bottom">
                                 <select name="gender" id="gender" class="form-control" autocomplete="off">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                 </select>
                              </div>
                              <div class="clearfix"></div>
                              <br/>
                              <div class="clearfix"></div>
                              <br/>													
                              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom"> -->
                              <!-- <button class="btn btn-primary" type="button" >Continue</button> -->
                              <!-- </div> -->
                           </div>
                        </form>
                     </div>
                     <div class="clearfix"></div>
                     <br/>
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab">
                        <form action="#">
                           <div class="row form-group">
                              <div class="col-md-6 padding-bottom">
                                 <h2>Confirmation</h2>
                                 <p>This tab is for additional information and payment details <br> Click Submit to confirm ticket reservation</p>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div style="overflow:auto; clear:both;">
                        <div style="float:right;">
                           <button type="button" class="btn  btn-primary" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                           <button type="button" class="btn btn-primary" id="nextBtn" onclick="nextPrev(1)">Continue</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
   <sly data-sly-call="${clientlib.all @ categories=['classify.reservation']}"/>
</sly>