<div id="colorlib-reservation" style="padding-top: 35px;" >
<!-- <div class="container"> -->
<div class="row" id="bookflights" style="display:none">
   <div class="search-wrap">
      </br>
      </br>
      </br>
      <div class="container">
         </br>
         <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#flight"><i class="flaticon-plane"></i> Book Flights</a></li>
         </ul>
      </div>
      <div class="tab-content" >
         <div id="flight" class="tab-pane fade in active">
            <sly data-sly-use.sessionModel="com.aem.core.models.SessionModel">
               <form method="GET" class="colorlib-form" id="form1" action="/content/classify/en/FlightReservation.html">
                  <div class="row" >
                     <div class="col-md-2">
                        <div class="form-group">
                           <input type="text" name="Fid" id="Fid" class="form-control" readonly>
                           <div class="form-field">
                              <input type="text" name="Fname" id="Fname" class="form-control" readonly>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                           <input type="text" name="Ffrom" id="Ffrom" class="form-control" readonly>
                           <div class="form-field">
                              <input type="text" name="Atime" id="Atime" class="form-control" readonly>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                           <input type="text" name="Fto" id="Fto" class="form-control" readonly>
                           <div class="form-field">
                              <input type="text" name="Dtime" id="Dtime" class="form-control" readonly >
                           </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                           Price
                           <div class="form-field">
                              <input type="text" name="Fprice" id="Fprice" class="form-control inputbook" readonly >
                           </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                           Total Price
                           <div class="form-field">
                              <input type="text" name="totalprice" id="totalprice"  class="form-control inputbook" readonly >
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row"  id="bookflightsreturn" style="display:none" >
                     <div class="col-md-2">
                        <div class="form-group">
                           <input type="text" name="rflightid" id="rflightid" class="form-control" readonly >
                           <div class="form-field">
                              <input type="text" name="rflightname" id="rflightname" class="form-control" readonly>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                           <input type="text" name="rfrom" id="rfrom" class="form-control" readonly>
                           <div class="form-field">
                              <input type="text" name="rarrivaltime" id="rarrivaltime" class="form-control" readonly >
                           </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                           <input type="text" name="rto" id="rto" class="form-control" readonly >
                           <div class="form-field">
                              <input type="text" name="rdeparturetime" id="rdeparturetime" class="form-control"readonly>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                           Return price
                           <div class="form-field">
                              <input type="text" name="rprice" id="rprice" class="form-control" readonly>
                           </div>
                        </div>
                     </div>
                     <input type="hidden" name="Ftravel" id="Ftravel" class="form-control" placeholder="Ftravel">
                     <input type="hidden" name="Ftype" id="Ftype" class="form-control" placeholder="Ftype">
                     <input type="hidden" name="Fdate" id="Fdate" class="form-control" placeholder="date">
                     <input type="hidden" name="Fpassengernum" id="Fpassengernum" class="form-control" placeholder="passengernum">
                     <input type="hidden" name="Ftravelclass" id="Ftravelclass" class="form-control" placeholder="travelclass">
                     <input type="hidden" name="rtravel" id="rtravel" class="form-control" placeholder="Rtravel">
                     <input type="hidden" name="rtype" id="rtype" class="form-control" placeholder="Rtype">
                     <input type="hidden" name="rdate" id="rdate" class="form-control" placeholder="Rdate">
                     <input type="hidden" name="rcheckbox" id="rcheckbox" class="form-control" placeholder="rcheckbox">    
                  </div>
                  <sly data-sly-test="${sessionModel.mySessionAttribute}">
                     <button class="btn btn-primary" type="submit" form="form1" value="Submit">Book Now</button>
                  </sly>
               </form>
               <sly data-sly-test="${!sessionModel.mySessionAttribute}">
                  <button class="btn btn-primary" onclick="gotologin()">Login to Book </button>
               </sly>
            </sly>
         </div>
      </div>
   </div>
</div>