<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='classify.logout'}"/>
<nav class="colorlib-nav results-nav" role="navigation">
			<div class="top-menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2">
							<div id="colorlib-logo"><a href="travel-home-page-template.html">Mind Travel</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li class="active"><a href="travel-home-page-template.html">Home</a></li>
								<!--<li class="has-dropdown">
									<a href="#">Tours</a>
									<ul class="dropdown">
										<li><a href="#">Destination</a></li>
										<li><a href="#">Cruises</a></li>
										<li><a href="#">Hotels</a></li>
										<li><a href="#">Booking</a></li>
									</ul>
								</li>
								<li><a href="#">Hotels</a></li>
								<li><a href="#l">Services</a></li>
								<li><a href="#">Blog</a></li>-->
								<li><a href="packagelist.html">Holiday Package</a></li>
								<li><a href="aboutus.html">About</a></li>
								<li><a href="contactus.html">Contact</a></li>
                                 <li>
                                 <sly data-sly-use.sessionModel="com.aem.core.models.SessionModel">
                                     <sly data-sly-test="${sessionModel.mySessionAttribute}">
                                   <li class="has-dropdown logo">

                                   <a > ${sessionModel.mySessionAttributeFname}  ${sessionModel.mySessionAttributeLname}</a ><i class="icon icon-user"></i>

										<ul class="dropdown">

										<li><a href="mybookings.html">My Bookings</a></li>
                                         <li><a href="#" onclick="logoutfunction()">Logout</a></li>

									</ul>
                                   </li>

                                   </sly>
								<sly data-sly-test="${!sessionModel.mySessionAttribute}">
    							 <li><a href="Login.html">Login</a></li>
                                <li><a href="signup.html">Sign Up</a></li>
								</sly>
								</sly></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>