<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='classify.loginform'}" />
<div class="col-md-2">
						<div class="sidebar-wrap">    
                            <div class="colorlib-wrap topspace">
   <div class="container">
      <div class="row">
         <div class="col-md-5 col-md-offset-1  heading2 animate-box">
            <h2>Login</h2>
             <div id="changer" class="alert alert-danger" style="display: none;"></div>
            <form class="form-signin" al>
               <div class="row form-group">
                  <div class="col-md-12">
                     <label for="fname">User Name</label>
                     <input type="TEXT" id="userId" class="form-control" placeholder="User Name" required autofocus >
                  </div>
               </div>
               <div class="row form-group">
                  <div class="col-md-12">
                     <label for="fname">Password</label>
                     <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  </div>
               </div>
               <div class="checkbox">
                  <label>
                  <input type="checkbox" value="remember-me" id="rememberMe"> Remember me
                  </label>
               </div>
                <div id="errordiv"></div>

                      <div class="row form-group">
                  <div class="col-md-6 padding-bottom">

                      <input type="button" value="submit" name="submit" id="submit" class="btn btn-primary">
                  </div>
                   <div class="col-md-6">
                       <label for="fname">Don't have an account?</label>
                       <a id="mya-home-login-btn" href="signup.html" ></br>Register here</a>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>


                           </div>
</div>
