<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories=['classify.booking']}"/>
</sly>
<div class="col-md-3">
						<div class="sidebar-wrap">
                            <div class="side search-wrap animate-box">
								<h3 class="sidebar-heading">Search Details</h3>
								<form method="GET" class="colorlib-form" action="/content/classify/en/flight-listing-page.html" >
				              	<div class="row">
				                <div class="col-md-12">
				                  <div class="form-group">
				                    <label for="from">From:</label>
				                    <div class="form-field">
				                      <input type="text" name="from" id="fromlocation" class="form-control" value="${request.requestParameterMap['from'][0].toString}">
				                    </div>
				                  </div>
				                </div>
                                <div class="col-md-12">
				                  <div class="form-group">
				                    <label for="to">To:</label>
				                    <div class="form-field">
				                      <input type="text" name="to" id="tolocation" class="form-control" oninput="check(this)" value="${request.requestParameterMap['to'][0].toString}">
				                    </div>
				                  </div>
				                </div>
				                <div class="col-md-12">
				                  <div class="form-group">
				                    <label for="date">Date:</label>
				                    <div class="form-field">
				                      <i class="icon icon-calendar2"></i>
				                      <input type="text" name="date" id="date" class="form-control date" value="${request.requestParameterMap['date'][0].toString}" autocomplete="off">
				                    </div>
				                  </div>
				                </div>
				                <div class="col-md-12">
				                  <div class="form-group">
				                    <label for="guests">Guest</label>
				                    <div class="form-field">
				                      <i class="icon icon-arrow-down3"></i>
				                      <select name="passengernum" id="passengernum" class="form-control select-background">
                                        <option value="${request.requestParameterMap['passengernum'][0].toString}" selected>${request.requestParameterMap['passengernum'][0].toString}</option>
				                        <option value="1">1</option>
				                        <option value="2">2</option>
				                        <option value="3">3</option>
				                        <option value="4">4</option>
				                        <option value="5+">5+</option>
				                      </select>
				                    </div>
				                  </div>
				                </div>
												                <div class="col-md-12">
				                  <div class="form-group">
				                    <label for="travelclass">Travel class</label>
				                    <div class="form-field">
				                      <i class="icon icon-arrow-down3"></i>
				                      <select name="travelclass" id="travelclass" class="form-control select-background">
                                        <option value="${request.requestParameterMap['travelclass'][0].toString}" selected>${request.requestParameterMap['travelclass'][0].toString}</option>
				                        <option value="EconomyClass">Economy Class</option>
				                        <option value="PremiumEconomy">Premium Economy</option>
				                        <option value="BusinessClass">Business Class</option>
				                        <option value="FirstClass">First Class</option>
				                      </select>
				                    </div>
				                  </div>
				                </div>
                                	<div class="col-md-12">
				                <label for="date">Round Trip?: </label>
								 <input type="checkbox" name="checkbox" id="myCheck1"  value="${request.requestParameterMap['checkbox'][0].toString}" onclick="checkFunctionsearch();">
				                </div>
                                 <div class="col-md-12" id="rtrip" style="display:none">
				                  <div class="form-group">
				                    <label for="date">Return Date:</label>
				                    <div class="form-field">
				                      <i class="icon icon-calendar2"></i>
				                      <input type="text" name="returndate" id="returndate" class="form-control date" value="${request.requestParameterMap['returndate'][0].toString}" autocomplete="off">
				                    </div>
				                  </div>
				                </div>       

				              </div>

                                  <div class="col-md-12">
                                        </br>
				                  <input type="submit" name="submit" id="submit" value="Find Flights" class="btn btn-primary btn-block">
				                </div>
				              </div>
				            </form>
							</div>
                            </div>
                            </div>