.spacer {
    text-align: center;
}

.spacer span {
    display: inline-block;

    padding: 0;
    border-bottom-style: solid;
    border-width: 0;

    width: 100%;
    max-width: 100%;
}

.spacer .size-s {
    margin: 1rem 0;
}

.spacer .size-m {
    margin: 2rem 0;
}

.spacer .size-l {
    margin: 3rem 0;
}

.spacer .size-xl {
    margin: 5rem 0;
}

.spacer .size-xxl {
    margin: 8rem 0;
}

.spacer .line-thin {
    border-width: 0.1rem;
}

.spacer .line-medium {
    border-width: 0.3rem;
}

.spacer .line-thick {
    border-width: 0.5rem;
}

.spacer .line-vertical {
    width: 0px !important;
    min-height: 2rem;
    margin: 0;

    border-bottom: none;
    border-left-style: solid;
}

.spacer .line-vertical.size-s {
    height: 4rem;
}

.spacer .line-vertical.size-m {
    height: 8rem;
}

.spacer .line-vertical.size-l {
    height: 16rem;
}

.spacer .line-vertical.size-xl {
    height: 24rem;
}

.spacer .line-vertical.size-xxl {
    height: 32rem;
}

.spacer .left {
    text-align: left;
}

.spacer .right {
    text-align: right;
}

.spacer .center {
    text-align: center;
}

.numberCircle {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 32px Arial, sans-serif;
}
