<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='classify.viewbooking'}" />
<div class="col-md-4">
   <div class="row">
      <div class="colorlib-wrap topspace">
         <div class="container">
            <div class="row">
               <div class="col-md-5 col-md-offset-2 heading2 animate-box">
                  <h3>View/print your booking without login</h3>
                  <div id="changererror" class="alert alert-danger" style="display: none;"></div>
                  <form method="GET" action="/content/classify/en/signup.html" class="form-search"  >
                     <div class="row form-group">
                        <div class="col-md-12">
                           <label for="fname">Ticket PNR </label>
                           <input type="text" id="Bookingid"  name="Bookingid" class="form-control" placeholder="Ticket PNR " required  >
                        </div>
                     </div>
                     <div class="row form-group">
                        <div class="col-md-12">
                           <label for="fname">Registered Email</label>
                           <input type="text" id="Bookingmail"  name="Bookingmail" class="form-control"  placeholder="Registered Email" required>
                        </div>
                     </div>
                     <label>Booking reference number generated at the time of booking </label>
                     <div class="row form-group">
                        <div class="col-md-6 padding-bottom">
                           </br>
                           <input type="button" value="Search" onclick="searchfunction()" id="Search" class="btn btn-primary">
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>