<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='classify.mybooking'}"/>
<div class="col-md-12 col-md-offset-0 heading2 animate-box">
               <h2 align="center">My Booking</h2>
            </div>
<sly data-sly-use.flights="com.aem.core.models.MyBookingLists">
<div class="alert alert-info" data-sly-test="${!flights.Flights}">
               <h3>No booking history found</h3>
            </div>
   <div class="col-md-9">
      <div class="row">
         <div class="col-md-12">
            <div class="wrap-division">
               <div class="col-md-12 animate-box flight-li-item">
                  <sly data-sly-list.flightlist="${flights.Flights}">
                     <div class="row">
                        <div class="flight-info">
                           <div class="col-md-12 overview-con">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                 <div class="logo">
                                    <li><i class="icon icon-airplane"></i></li>
                                    <li>
                                       <h6>classify Booking ID: ${flightlist.bookingid}<br> </h6>
                                       <p>Booking Date: ${flightlist.bookingdate}</p>
                                    </li>
                                 </div>
                              </div>
                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                 <h5>${flightlist.from}</h5>
                                 <span>${flightlist.departuretime}</span>
                              </div>
                              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                 <h5>${flightlist.to}</h5>
                                 <span>${flightlist.arrivaltime}</span>
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                                 <h5>Journey Date</h5>
                                 <span>${flightlist.journeydate}</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="detail-info toggle_parent">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 more-head toggleHolder">
                              <a class="toggler more pull-right">Ticket details<i class="icon icon-arrow-down3"></i></a>
                              <a class="toggler more pull-right" style="display:none;">Ticket details<i class="icon icon-arrow-up3"></i></a>
                           </div>
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 more-con toggled_content">
                              <div class=" flight-more-info">
                                 <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#Ticketinfo_${flightlist.flightid}">Booking details</a></li>
                                 </ul>
                                 <div class="tab-content">
                                    <div id="Flightinfo_${flightlist.flightid}" class="tab-pane fade in active">
                                       <div class="row form-group">
                                          <div class="col-md-6 padding-bottom">
                                             <p>Flight Number:${flightlist.flightid}</p>
                                             <p>E-Ticket Number:${flightlist.ticketid}</p>
                                             <p>Flight Duration:${flightlist.traveltime}</p>
                                             <p>Passenger Name :${flightlist.passengername}</p>
                                             <p>Passenger Email :${flightlist.bookingemail}</p>
                                             <p>Otherdetails:${flightlist.otherdetails}</p>
                                          </div>
                                          <div class="col-md-6 padding-bottom">
                                             <p>Airline Name:${flightlist.flightname}</p>
                                             <p>Airline PNR:${flightlist.flightpnr}</p>
                                             <p>Total  .${flightlist.price}</p>
                                             <p>Booking Mobile :${flightlist.phonenumber}</p>
                                             <p>Class:${flightlist.flighttype}</p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
					 </br>
               </div>
            </div>
         </div>
      </div>
   </div>
   </sly>
</sly>