<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='classify.mybooking'}"/>
<div class="col-md-12">
   <div class="row">
      <div class="col-md-12">
         <div class="wrap-division">
            <div class="col-md-12 col-md-offset-0 heading2 animate-box">
               <h3 align="center">View/print E-Ticket</h3>
            </div>
            <sly data-sly-use.flights="com.aem.core.models.MyBookingLists">
            <div class="alert alert-info" data-sly-test="${!flights.FlightByBookingId}">
               <h3>No booking history found</h3>
            </div>
            <sly data-sly-list.flightlist="${flights.FlightByBookingId}">
               <div class="col-md-9">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="wrap-division">
                           <div class="col-md-12  col-md-offset-1 animate-box flight-li-item" id="dvContents">
                              <div class="logo">
                                 <li><i class="icon icon-airplane"></i></li>
                                 <h2 >classify Travel E Tickets </h2>
                              </div>
                              <p align="right">classify<br> Telephone :1234 56789 0 info@classify.com</p>
                              <hr>
                              <sly data-sly-list.flightlist="${flights.FlightByBookingId}">
                                 <div class="row">
                                    <div class="flight-info">
                                       <table class="col-md-offset-1" style="width:90%; border: none !important; ">
                                          <tr>
                                             <th>Booking ID: ${flightlist.bookingid}</th>
                                             <th >${flightlist.from}</th>
                                             <th >${flightlist.to}</th>
                                             <th >Journey Date</th>
                                          </tr>
                                          <tr>
                                             <td>Booking Date: ${flightlist.bookingdate}</td>
                                             <td>${flightlist.departuretime}</td>
                                             <td>${flightlist.arrivaltime}</td>
                                             <td>${flightlist.journeydate}</td>
                                          </tr>
                                       </table>
                                    </div>
                                 </div>
                                 </br>
                                 <h4 align="center"> Flight Deatils</h4>
                                 <div class="row">
                                    <div class="detail-info ">
                                       <div class=" flight-more-info">
                                          <div id="Flightinfo_${flightlist.flightid}" class="tab-pane fade in active">
                                             <div class="row form-group">
                                                <table class="col-md-offset-1" id="customers" style="width:90%">
                                                   <tr>
                                                      <th>Flight Number</th>
                                                      <th >Airline Name</th>
                                                      <th >Airline PNR</th>
                                                      <th >E-Ticket Number</th>
                                                      <th >Info</th>
                                                   </tr>
                                                   <tr>
                                                      <td>${flightlist.flightid}</td>
                                                      <td>${flightlist.flightname}</td>
                                                      <td>${flightlist.flightname}</td>
                                                      <td>${flightlist.ticketid}</td>
                                                      <td>${flightlist.flighttype} ${flightlist.otherdetails}</td>
                                                   </tr>
                                                </table>
                                                </br>
                                                <h4 align="center"> Pasenger Deatils</h4>
                                                <table class="col-md-offset-1 "  id="customers"style="width:90%">
                                                   <tr>
                                                      <th>Name</th>
                                                      <th>Age</th>
                                                      <th>Mobile</th>
                                                      <th>Email</th>
                                                   </tr>
                                                   <tr>
                                                      <td>${flightlist.passengername}</td>
                                                      <td>25</td>
                                                      <td>${flightlist.phonenumber}</td>
                                                      <td>${flightlist.bookingemail}</td>
                                                   </tr>
                                                </table>
                                                </br>
                                                <h4 align="center">
                                                PRICE SUMMARY </h2>
                                                <table class="col-md-offset-1 "  id="customers" style="width:90%">
                                                   <tr>
                                                      <td>Airfare Charges</th>
                                                      <td colspan="2"> ${flightlist.price}</td>
                                                   </tr>
                                                   <tr>
                                                      <td>Passenger Service Fee</th>
                                                      <td colspan="2"> 0.0 </td>
                                                   </tr>
                                                   <tr>
                                                      <th>Total Price</td>
                                                      <th>${flightlist.price} </td>
                                                   </tr>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               </sly>
            </sly>
         </div>
      </div>
   </div>
   <input type="button" class="btn btn-primary col-md-offset-7" onclick="PrintDiv();" value="Print" />
		<a class="btn btn-primary"href="Login.html">Cancel</a>
</div>

<style>
   #customers {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
   }
   #customers td, #customers th {
   border: 1px solid #ddd;
   padding: 8px;
   }
   #customers tr:nth-child(even){background-color: #f2f2f2;}
   #customers tr:hover {background-color: #ddd;}
   #customers th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #2C2E3E;
   color: white;
   }
</style>
<script type="text/javascript">
   function PrintDiv() {
       var divContents = document.getElementById("dvContents").innerHTML;
        var htmlToPrint = '' +
   '<style type="text/css">' +
   'table th, table td {' +
   'border:1px  solid #dddddd;' +
   'text-align: left;' +
   '}' +
   '</style>';
   
       var printWindow = window.open('', '', 'height=500,width=400');
       printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write(htmlToPrint);
       printWindow.document.write('</head><body >');
       printWindow.document.write(divContents);
       printWindow.document.write('</body></html>');
       printWindow.document.close();
       printWindow.print();
   }
</script>