<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories=['classify.booking']}"/>
</sly>
<div id="colorlib-reservation">
			<!-- <div class="container"> -->
				<div class="row">
					<div class="search-wrap">
						<div class="container">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#flight"><i class="flaticon-plane"></i> Flights</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div id="flight" class="tab-pane fade in active">
								<form method="GET" class="colorlib-form" action="/content/classify/en/flight-listing-page.html">
				              	<div class="row">
				              	 <div class="col-md-2">
				              	 	<div class="form-group">
				                    <label for="date">from:</label>
				                    <div class="form-field">
				                      <input type="text" name="from" id="fromlocation" class="form-control" placeholder="Departure">
				                    </div>
				                  </div>
				              	 </div>
					             <div class="col-md-2">
				              	 	<div class="form-group">
				                    <label for="date">To:</label>
				                    <div class="form-field">
				                      <input type="text" name="to" id="tolocation" class="form-control" oninput="check(this)"  placeholder="Arrival">
				                    </div>
				                  </div>
				              	 </div>
                                  <div class="col-md-2">
				                  <div class="form-group">
				                    <label for="date">Date:</label>
				                    <div class="form-field">
				                      <i class="icon icon-calendar2"></i>
				                      <input type="text" name="date" id="date" class="form-control date" placeholder="Date" autocomplete="off">
				                    </div>
				                  </div>
				                </div>
				                <div class="col-md-2">
				                  <div class="form-group">
				                    <label for="guests">Guest</label>
				                    <div class="form-field">
				                      <i class="icon icon-arrow-down3"></i>
				                      <select name="passengernum" id="people" class="form-control select-background">
				                        <option value="1">1</option>
				                        <option value="2">2</option>
				                        <option value="3">3</option>
				                        <option value="4">4</option>
				                        <option value="5">5+</option>
				                      </select>
				                    </div>
				                  </div>
				                </div>
							   <div class="col-md-2">
				                  <div class="form-group">
				                    <label for="guests">Travel class</label>
				                    <div class="form-field">
				                      <i class="icon icon-arrow-down3"></i>
				                      <select name="travelclass" id="travelclass" class="form-control select-background">
				            <option value="EconomyClass">Economy Class</option>
				            <option value="PremiumEconomy">Premium Economy</option>
				            <option value="BusinessClass">Business Class</option>
				            <option value="FirstClass">First Class</option>
				                      </select>
				                    </div>
				                  </div>
				                </div>
				                <div class="col-md-2">
				                <label for="date">Round Trip?: </label>
                                 </br>
								 <input type="checkbox" name="checkbox" id="myCheck"  onclick="checkFunction()">
				                </div>
				              </div>
							  <div class="row form-group">

                          <div class="col-md-2"  style="display:none" id="returndate" >							  
							  <div class="form-field">
							   <label for="date">Return Date:</label>
 								<i class="icon icon-calendar2"></i>
                            <input type="text" name="returndate"  class="form-control date" placeholder="ReturnDate" autocomplete="off">
                            
							</div>
							</div>
							  		<div class="col-md-2"> 
				                  <div >
				                   
				                    <div class="form-field">

									     <input type="submit"  value="Find Flights" class="btn btn-primary btn-block">
				                     
				                    </div>
				                  </div>
				                </div>
								</div>

				            </form>
				         </div>
		
			         </div>
					</div>
				</div>

	</div>

