<style>
.row {
box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.36);
}
.animate-box {
padding: 10px;	
}

.btn-primary {
align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #005aeb;
    border-color: #fff;
    color: #fff;
    padding: 12px;
    text-align: center;
    display: block;
    margin: auto;
}

.video-wrap {
    width: 100%;
    min-height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5rem 0.75rem;
    position: relative;
}
</style>

<div data-sly-include="/libs/wcm/core/components/init/init.jsp"></div>
<div data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"
	data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
	data-sly-test="${image.src}" data-sly-unwrap="${wcmmode.disabled}"
	class="cq-dd-image">
	<a data-sly-unwrap="${!image.link}" class="cmp-image--link"
		href="${image.link}" data-title="${image.title || image.alt}"
		data-asset="${image.fileReference}">
		<noscript data-sly-unwrap="${!image.json}"
			data-cmp-image="${image.json}">
			<img src="${image.src}" alt="${image.alt || true}"
				title="${image.displayPopupTitle && image.title}" />
		</noscript>
	</a> <br />
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="video-wrap">
						<img width="550" height="300" src="${image.src}"
							alt="${image.alt || true}"
							title="${image.displayPopupTitle && image.title}" />
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div>
						<div class="text-salebox">
							<div>
								<h3 class="cmp-image--title"
									data-sly-test="${!image.displayPopupTitle && image.title}">${image.title}</h3>
								<p>${properties.jcr:description}</p>
								<p>
									<button class="btn btn-primary">${properties.buttontext}</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<sly
		data-sly-call="${templates.placeholder @ isEmpty = !properties.jcr:description}"></sly>
</div>