					<!-- SIDEBAR-->
					<div class="col-md-3">
						<div class="sidebar-wrap fare-info">
							<div class="side animate-box">
								<h3 class="sidebar-heading">FARE SUMMARY</h3>
				              	<div class="row">
									<div class="col-md-12 fare-details">
										<div class="base-fare">
											<h5 class="fare_collapse">BASE FARE <i class="icon icon-arrow-down3"></i><i class="icon icon-arrow-up3" style="display:none;"></i><span class="base price">Rs. ${request.requestParameterMap['totalprice'][0].toString}</span></h5>
											<ul class="fare-txt">
												<li>${request.requestParameterMap['passengernum'][0].toString}<span>Rs. ${request.requestParameterMap['totalprice'][0].toString}</span></li>
												<li>Total Base Fare <span>Rs.${request.requestParameterMap['totalprice'][0].toString}</span></li>
											</ul>
										</div>
										<div class="other-fare">
											<h5 class="fare_collapse">FEE & SURCHARGES <i class="icon icon-arrow-down3" style="display:none;"></i><i class="icon icon-arrow-up3"></i><span class="base price">Rs. 000</span></h5>
											<ul class="fare-txt">
												<li>GST <span>Rs. 000</li>
												<li>Airline Fuel Charge <span>Rs. 000</span></li>
												<li>Passenger Service Fee <span>Rs. 000</span></li>
												<li>User Development Fee <span>Rs. 000</span></li>
												<li>Fee & SurchargesRs. <span>000</span></li>
											</ul>
										</div>
										<div class="service-fare">
											<h5 class="fare_collapse">TOTAL SERVICES <i class="icon icon-arrow-down3" style="display:none;"></i><i class="icon icon-arrow-up3"></i><span class="base price">Rs. 000</span></h5>
											<ul class="fare-txt">
												<li>Insurance <span>Rs. 000</span></li>
												<li>Charity <span>Rs. 000</span></li>
												<li>Total Services <span>Rs. 000</span></li>
											</ul>
										</div>
										<div class="total-fare">
											<h5>GRAND TOTAL <span class="base price">Rs. ${request.requestParameterMap['totalprice'][0].toString}</span></h5>
										</div>
									  
									</div>
									
									<div class="col-md-12 offer-info">
										<h3 class="sidebar-heading">OFFERS</h3>

										<p>Pay using classify wallet and get Rs. 400 instant discount and Rs. 400 cashback to your wallet</p>
										
										

										<p>Use this coupon & get Rs 258 cashback to your classify Bank Debit cards within 75 days of your booking</p>
										
									</div>
				              </div>
							</div>							
							
						</div>
					</div>