<style>
div#colorlib-logo {
    color: #fff;
    font-weight: 400 !important;
}

div#colorlib-logo-1 {
    color: #fff;
}
</style>
<sly
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.all @ categories='classify.logout'}" />
<nav class="colorlib-nav results-nav" role="navigation">
	<div class="top-menu">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2">
					<div id="colorlib-logo">
						<span>Mind Travel</span>
					</div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="active"><a href="#">Home</a></li>
						<li class="has-dropdown"><a href="#">Holiday Package</a>
							<ul class="dropdown">
								<li><a href="#">Destination</a></li>
								<li><a href="#">Cruises</a></li>
								<li><a href="#">Hotels</a></li>
								<li><a href="#">Booking</a></li>
							</ul></li>
						<li class="has-dropdown"><a href="#">Tours</a>
							<ul class="dropdown">
								<li><a href="#">Destination</a></li>
								<li><a href="#">Cruises</a></li>
								<li><a href="#">Hotels</a></li>
								<li><a href="#">Booking</a></li>
							</ul></li>
						<li class="has-dropdown"><a href="#">Hotels</a>
							<ul class="dropdown">
								<li><a href="#">Destination</a></li>
								<li><a href="#">Cruises</a></li>
								<li><a href="#">Hotels</a></li>
								<li><a href="#">Booking</a></li>
							</ul></li>
						<li class="has-dropdown"><a href="#l">Services</a>
							<ul class="dropdown">
								<li><a href="#">Destination</a></li>
								<li><a href="#">Cruises</a></li>
								<li><a href="#">Hotels</a></li>
								<li><a href="#">Booking</a></li>
							</ul></li>
						<li class="has-dropdown"><a href="#">Blog</a>
							<ul class="dropdown">
								<li><a href="#">Destination</a></li>
								<li><a href="#">Cruises</a></li>
								<li><a href="#">Hotels</a></li>
								<li><a href="#">Booking</a></li>
							</ul></li>
						<!-- <li><a href="aboutus.html">About</a></li>
						<li><a href="contactus.html">Contact</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>