<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='classify.confirmmessage'}"/>
              <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box fadeInUp animated-fast">
						<h2> Ticket Confirmed</h2>
                        <p> Thank you for choosing classify,Your flight booking is confirmed<p>
						<p id="pid1">Booking ID :1234556</p>
             <p>Click My Booking for booking history 
        <a href="mybookings.html" class="btn btn-primary">
          <span class="glyphicon glyphicon-send"></span> My Booking 
        </a>
      </p> 
					</div>


